/*Global styles*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400");

html,
body,
#root {
  min-height: 100%;
}

body {
  min-width: 375px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Hind", sans-serif;
  background-image: linear-gradient(to bottom right, #babfc3, #555c66);
  background-repeat: no-repeat;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

nav a,
nav span {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff !important;
  transition: 0.3s ease;
}

nav .navbar-brand a {
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

nav .nav-item {
  width: 140px;
  text-align: right;
}

a {
  color: #fff;
}
nav span:hover,
a:hover {
  cursor: pointer;
  color: #e7c67c !important;
  text-decoration: none;
}

.navbar.navbar-dark .navbar-toggler {
  color: #fff;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #babfc3;
}

.footer #footer-container {
  width: 100%;
}

.verticle-center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.login-icon {
  position: relative;
  display: flex;
  right: 15px;
}

.btn.btn-auth {
  padding: 0 5px 0 0;
  position: absolute;
  right: -10px;
  bottom: -15px;
}

.banner-container {
  position: relative;
  width: 100%;
  max-height: 820px;
  overflow: hidden;
}

.banner-container .movie-banner {
  margin-top: -100px;
  min-width: 100%;
  min-height: 500px;
}

.navbar-dark .navbar-toggler {
  border: none;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

/*Loader*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/*Component styling*/

/*Home*/
.homepage-banner {
  height: calc(100vh - 60px);
}

.homepage-banner .background .homepage-banner p.body-content {
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4) 23%,
    rgba(54, 54, 54, 0.13) 82%,
    rgba(0, 0, 0, 0.66)
  );
}
.banner-container.homepage-banner .background {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-container.homepage-banner .movie-banner {
  height: 110vh;
  width: auto;
}

.banner-container .movie-poster {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 35px;
  margin: auto;
}

.info-container {
  z-index: 10;
  position: absolute;
  top: 150px;
  left: 35px;
}
.movie-info {
  position: relative;
  max-width: 570px;
  height: 530px;
}

.movie-info .movie-description {
  margin-top: 30px;
  font-size: 23px;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
}

.movie-info .movie-bio {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*About*/
.about {
  margin-bottom: 100px;
  min-height: 150px;
}

/*All films*/

.all-films {
  column-count: 5;
}

.film-card {
  display: inline-block;
  width: 205px;
  min-height: 336px;
  margin: 0 auto 30px;
}
.movie-poster {
  width: 205px;
  height: 288px;
}
.movie-poster img {
  width: 100%;
}

/*Profile*/
.profile-container {
  padding-top: 50px;
}
.profile-container {
  height: 100vh;
}

.profile-container .profile-photo {
  display: inline-block;
  height: 500px;
  width: 500px;
}

.profile-container .user-info {
  margin-top: 50px;
}

/*Bootstrap based media queries*/
@media (max-width: 1200px) {
  .all-films {
    column-count: 3;
  }
}

@media (max-width: 1030px) {
}

@media (max-width: 992px) {
}

@media (max-width: 850px) {
  .banner-container .movie-poster {
    display: none;
  }
}

@media (max-width: 768px) {
  .film-card {
    width: 205px;
    min-height: 200px;
  }
  .movie-poster {
    width: 160px;
    height: 220px;
    margin-bottom: 5px;
  }

  .navbar-toggler {
    z-index: 999;
  }

  .navbar-collapse {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .navbar-collapse .nav-item {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .banner-container.homepage-banner .background {
    display: none;
  }
  .movie-info {
    display: none;
  }
  .banner-container .movie-poster {
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .film-card {
    width: auto;
    min-height: 230px;
  }
  .movie-poster {
    width: 120px;
    height: 170px;
    margin-bottom: 5px;
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
